<div id="footerButtonsID">
    <button mat-button id="firstFooterButton" class="footer-btn"><strong>ABOUT US</strong></button>

    <button mat-button class="footer-btn"><strong>HOW TO USE TRACE</strong></button>

    <button mat-button class="footer-btn"><strong>HELP</strong></button>

    <button mat-button id="lastFooterButton" class="footer-btn"><strong>CONTACT US</strong></button>
</div>


<div id="footerLogosID">
    <button mat-button class="logo-btn"id="firstFooterLogo"><img [src]=facebookLogoUrl class="logos"></button>
    <button mat-button class="logo-btn"><img [src]=instagramLogoUrl class="logos"></button>
    <button mat-button class="logo-btn"id="lastFooterLogo"><img [src]=twitterLogoUrl class="logos"></button>
</div>