<form [formGroup]="loginForm">
    <mat-form-field>
        <input matInput type="text" formControlName="username" placeholder="username">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" formControlName="username" placeholder="password">
    </mat-form-field>

    <p class="invalid-form" *ngIf="loginForm.invalid && submitClicked">*invalid username</p>
    <div id="buttons">
        <button mat-button color="primary" (click)="onSubmitClick()">Submit</button>
        <button mat-button (click)="onCancelClick()">Cancel</button>
    </div>
</form>