.main-slider {
    height:690px;

}

.slider-image-1 {
    max-width:100%;
    max-height:100%;
    width: 600px;
    height: 690px;
}

.slider-image-2 {
    max-width:100%;
    max-height:100%;
    width: 500px;
    height: 950px;
}

#most-popular {
    margin-top: 1.5% ;
    font-size: 300%;
    // font-family: mollen pe;
}

#popular-div {
    height: 10%;
}

#items-div {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    // justify-content: space-around;
}

.item {
    width: 100px;
    height: 100px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    flex: 0 0 5em;
    padding: 0px;
    margin: 0px;
}

.secondary-slider-wrapper {
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.secondary-slider {
    width: 100%;
    max-height: 950px;
    width: 1170px;
    height: 800px;
    margin-right: -100px;
}

.app-item{
    width: 20%;
}

.carousel-control-prev {
    margin-top: 30%;
}

.carousel-control-next {
    margin-top: 30%;
}

#secondCarousel {
    margin-right: -15%;
    display: inline-table;
    width: 70%;
    margin-top: 1%;
    // width: 100%;
}
