.main-slider {
    height:690px;

}

.slider-image-1 {
    max-width:100%;
    max-height:100%;
    width: 600px;
    height: 690px;
}

.slider-image-2 {
    max-width:100%;
    max-height:100%;
    width: 800px;
    height: 550px;
}

#most-popular {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 60pt;
    // font-family: mollen pe;
}

#items-div {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    // justify-content: space-around;
}

.item {
    width: 100px;
    height: 100px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    flex: 0 0 5em;
    padding: 0px;
    margin: 0px;
}

.secondary-slider-wrapper {
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.secondary-slider {
    width: 100%;
    text-align: center;
    max-height: 500px;
    height: 500px;
}

.app-item{
    width: 20%;
}

.carousel-control-prev {
    margin-top: 30%;
}

.carousel-control-next {
    margin-top: 30%;
}

#secondCarousel {
    // width: 100%;
}
